.products-section {
    padding: 0% 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    background-color: rgba(160, 159, 159, 0.562);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .products-section {
        padding-top: 40%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .products-section {
        padding-top: 22%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .products-section {
        padding-top: 17%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .products-section {
        padding-top: 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .products-section {
        padding-top: 12%;
    }
}